header{
  height: 50px;
  line-height: 50px;
  background: #2d3748;
  color: white;
}
.logo{
  font-size: 16pt;
  font-weight: bold;
}
footer{
  height: 30px;
  line-height: 30px;
  font-size: 8pt;
  background: #2d3748;
  color: white;
}
section{
  height: calc(100% - 80px);
  overflow: auto;
}